$body-background-color: #C2FF15;
$body-heading-color: #1F6BFF;
$body-text-color: #1F6BFF;
$link-color: #1F6BFF;
$nav-child-link-color: #1F6BFF;
$sidebar-color: #C2FF15;
$base-button-color: #1F6BFF;
$btn-primary-color: #1F6BFF;
$code-background-color: white;
$feedback-color: #1F6BFF;
$table-background-color: #C2FF15;
$search-background-color: #C2FF15;
$search-result-preview-color: #1F6BFF;
$border-color: #1F6BFF;

$body-font-family: "Reddit Mono", monospace;