$body-background-color: #000000;
$body-heading-color: #FFFFFF;
$body-text-color: #FFFFFF;
$link-color: #FFFFFF;
$nav-child-link-color: #FFFFFF;
$sidebar-color: #000000;
$base-button-color: #FFFFFF;
$btn-primary-color: #FFFFFF;
$code-background-color: #FFFFFF;
$feedback-color: #FFFFFF;
$table-background-color: #000000;
$search-background-color: #000000;
$search-result-preview-color: #FFFFFF;
$border-color: #FFFFFF;

$body-font-family: "Reddit Mono", monospace;